# Created by .ignore support plugin (hsz.mobi)
.gitignore
.idea/dataSources.local.xml
.idea/dataSources/
.idea/sonarlint/.sonartmp/
.idea/sonarlint/issuestore/1/
.idea/sonarlint/issuestore/4/d/
.idea/sonarlint/issuestore/6/
.idea/sonarlint/issuestore/9/
.idea/sonarlint/issuestore/a/
.idea/sonarlint/issuestore/c/
.idea/sonarlint/issuestore/d/
